body{
    display: flex;
    flex-direction: column;
}


header{
    background-color: #ffffff;
    width: 100%;
}


h1, h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}



a {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}




.name{
    justify-self: flex-start;
}



.name h1{
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 20px;
}

.nav-bar{
    justify-self: flex-end;
    align-self: center;
}

.wrapper{
    width: 70%;
    
    margin: auto;
    
    display: flex;
}

.head{
    justify-content: space-between;
}



.main{
    
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    top: 20px;
    background-color: #ffffff;
    
}

.title{
    
    padding-bottom: 10px;
    
    border-bottom: 2px #cccccc solid;
}



.bodycontent{
    
    border-top: 15px #4aaaa5 solid;
    
    border-bottom: 4px #4aaaa5 solid;
    
}




.bioImage{
    margin: 0 20px 20px 0;
}


.aboutMe{
    display: flex;
    padding-top: 25px;
}


.contact-form{
    margin-top: 20px;
    width: 75%;
}


.form-control{
    width: 100%;
}

.submit{
    background-color: #4aaaa5;
    color: white;
    padding: 5px 20px;
    border: none;
}


.footer{
    background-color: #777777;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
